{% extends 'base/base.html' %}
{% block content %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Registros de Registro
                <small>Proyecto</small>
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form method="post" data-parsley-validate="" class="form-horizontal form-label-left"  novalidate="">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{form.first_name.label}}</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form.first_name}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{form.last_name.label}}</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form.last_name}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{form.username.label}}</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form.username}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{form.email.label}}</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form.email}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{form.password1.label}}</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form.password1}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{form.password2.label}}</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form.password2}}
                    </div>
                </div>

                <div class="ln_solid"></div>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <button id="send" type="submit" class="btn btn-success">Guardar</button>
                        <button type="reset" class="btn btn-primary">Cancelar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
{% endblock %}

