{% extends 'base/base_login.html' %}
{% block title %}

{% endblock%}



{% block content%}

<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form method="post" class="form-horizontal form-label-left" novalidate="">
                    {% csrf_token %}

                    <h2>Ingresar Registro</h2>
                    <div>
                       {{ form.username }}
                    </div>
                    <div>
                        {{ form.password }}
                    </div>
                    <div>
                      <button id="send" type="submit" class="btn btn-success">Ingresar</button>
                        <a class="reset_pass" href="#">¿Perdiste tu contraseña?</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">Nuevo en el sitio?
                            <a href="#signup" class="to_register">  Crear una cuenta </a>
                        </p>

                        <div class="clearfix"></div>
                        <br/>

                        <div>
                            <h1><i class="fa fa-institution"></i> Proyecto Matricula</h1>
                            <p>©2016 todo el derecho reservado quiza puelles sebastiani</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>

        <div id="register" class="animate form registration_form">
            <section class="login_content">
                <form method="post">
                    {% csrf_token %}
                    <h1>Crear Usuario</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="Username" required=""/>
                        {{ form.first_name}}
                    </div>
                    <div>
                        <input type="email" class="form-control" placeholder="Email" required=""/>
                        {{ form.first_name}}
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" required=""/>
                    </div>
                    <div>
                        <a class="btn btn-default submit" href="">Crear</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">Perdiste tu contraseña ?
                            <a href="#signin" class="to_register"> Ingresar </a>
                        </p>

                        <div class="clearfix"></div>
                        <br/>

                        <div>
                            <h1><i class="fa fa-institution"></i> Proyecto Matricula</h1>
                            <p>©2016 todo el derecho reservado quiza puelles sebastiani</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>




{% endblock%}