{% extends 'base/base.html'%}
{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Reporte de curso
                <small>Proyecto</small>
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <!-- <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>-->
            <div class="table-responsive">

                <table class="table table-striped jambo_table bulk_action">
                    <thead class="thead-inverse">
                    <tr>
                        <td>ID</td>
                        <td>Codigo</td>
                        <td>Nombre</td>
                        <td>Creditos</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>

                    {% if object_list %}
                    {% for curso in object_list %}

                    <tr>
                        <td>{{ curso.id }}</td>
                        <td>{{ curso.cod_curso }}</td>
                        <td>{{ curso.nombre }}</td>
                        <td>{{ curso.creditos }}</td>
                        <td><a class="btn btn-danger " ><i class="fa fa-file-pdf-o"></i></a></td>
                    </tr>
                    {% endfor %}

                    {% else %}
                    <h1>no hay registros de docente</h1>
                    {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}